@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --mainColor: #86418f;
  --lightColor: #9a60ac;
  --lighterColor: #dce8f4;
  --darkColor: #30338b;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.app {
  position: absolute;
  top: 30px;
  bottom: 40px;
  left: 30px;
  right: 30px;
  display: grid;
  grid-template-rows: 45%;
  gap: 40px;
}

.shadow {
  -webkit-box-shadow: 0px 35px 40px 9px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 35px 40px 9px rgba(0,0,0,0.23);
  box-shadow: 0px 35px 40px 9px rgba(0,0,0,0.23);
}

.degrees {
  font-size: 11px;
  line-height: 35px;
}

/* =============== FIXED CURRENT =============== */

.current {
  position: fixed;
  left: 0;
  top: 10%;
  z-index: 1;
  background-color: var(--mainColor);
  border-radius: 15px;
}

.current__icon, .current__temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  font-size: 13px;
  background-color:var(--darkColor);
  border-radius: 15px;
  color: #fff;
}

.current__temp {
  flex-direction: row;
  font-size: 31px;
  background-color:var(--mainColor);
}

/* =============== BANNER =============== */

.app__banner {
  border: 1px solid black;
  border-radius: 15px;
}

/* =============== APP SECONDARY =============== */

.app__secondary {
  display: grid;
  grid-template-columns: 2fr 4fr 3fr auto;
  gap: 40px;
}

/* =============== DAYS FORECAST SECTION =============== */

.days, .visit {
  display: grid;
  grid-template-rows: 20% 80%;
}

.content--days {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

.day {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid var(--lighterColor);
  background-color: #fff;
  border-radius: 10px;
}

.day__icon, .day__weather, .day__temps {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day__temps {
  background-color: var(--lighterColor);
  border-radius: 10px;
}

/* =============== PLACE VISIT SECTION =============== */

.content--visit {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.visit__header, .reviews, .reviews__header, .reviews__photos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__header, .reviews__photos {
  justify-content: space-around;
}

.reviews__item {
  border-radius: 5px;
  background-color: var(--lightColor);
}

.visit__city {
  border: 1px solid black;
  border-radius: 20px;
}

.visit__secondary {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 20px;
}

.visit__place {
  border: 1px solid black;
  border-radius: 10px;
}

.visit__plus {
  border: none;
  border-radius: 15px;
  background-color: var(--mainColor);
}

/* =============== CITIES WEATHER SECTION =============== */

.cities {
  display: grid;
  grid-template-rows: 27% 27% auto;
  gap: 15px;
  align-self: flex-end;
  height: 140%;
  width: 100%;
}

.city {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fff;
}

.city__top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
}

.city__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--lighterColor);
}

.city__info {
  display: flex;
  align-items: center;
}

.city__temp {
  display: flex;
  border-right: 1px solid black;
  font-size: 25px;
}

.city__temp, .city__name {
  padding: 0 15px;
}

.city__weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cities--location {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  border: 2px dashed var(--lighterColor);
}

.cities__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-location {
  padding: 5px 35px;
  border: none;
  border-radius: 10px;
}

.location__img {
  align-self: flex-end;
  justify-self: center;
}