@import './misc';

.cities {
  display: grid;
  grid-template-rows: 27% 27% auto;
  gap: 15px;
  align-self: flex-end;
  height: 140%;
  width: 100%;

  @media screen and (max-width: $breakPoint) {
    height: 100%;
    gap: 20px
  }
}

.city {
  display: grid;
  grid-template-rows: 70% 30%;
  border-radius: 10px;
  background-color: #fff;

  @media screen and (max-width: $breakPoint) {
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    background-color: #fff;
    height: fit-content;
    padding-right: 25px;
  }
}

.city__top {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 15px;
}

.city__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $lighterColor;
  border-radius: 10px;

  @media screen and (max-width: $breakPoint) {
    padding: 10px;
  }
}

.city__info {
  display: flex;
  align-items: center;
  margin: auto 0;
  height: fit-content;
}

.city__temp {
  display: flex;
  border-right: 1px solid $lighterColor;
  font-size: 32px;
  font-weight: bold;
}

.city__temp, .city__name {
  padding: 0px 15px;
}

.city__city {
  font-weight: bold;
}

.city__country {
  font-size: 13px;
}

.city__weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: .5;
  font-size: 14px;

  @media screen and (max-width: $breakPoint) {
    flex-direction: column;
    align-items: flex-end;
    justify-self: flex-end;
    gap: 3px;
  }
}

.cities--location {
  display: grid;
  grid-template-rows: 45% auto;
  justify-content: center;
  border: 2px dashed $lighterColor;

  @media screen and (max-width: $breakPoint) {
    height: auto;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
  }
}

.cities__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-location {
  padding: 10px 35px;
  border: none;
  border-radius: 20px;
  color: $mainColor;
  font-weight: bold;

  @media screen and (max-width: $breakPoint) {
    padding: 10px 20px;
  }
}

.location__img {
  height: 100%;
  width: 100%;
}
